# Python
venv/
__pycache__/
.pytest_cache/
*.pyc
.env
.DS_Store

# LogSentry Custom
audit_report_*.csv
targets.log
dummy_logs.csv
# Python Distribution / Scarti di installazione
*.egg-info/
build/
dist/

# Benchmark e Telemetria (evitiamo di caricare i tuoi test locali)
benchmark_stats.json
test_dataset.log

# OS Metadata
Thumbs.db